*{
    padding:0;
    margin:0;
    box-sizing:content-box;
}
html {
  font-size: 14px !important;
}
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #F8F9FA;
}

@media (min-width: 768px) {
  html {
    font-size: 16px !important;
  }
}

/* Navbar*/
.mynavbar {
    background-color: #2F374C !important;
    color: #ffffff;
}

/* Home page*/
.book-heading {
    color: #212529 !important;
    font-size: 16px !important;
    font-weight: 700;
    color: #0000FF !important;
    text-decoration: underline;
}
.book-card {
    overflow: hidden;
    margin: auto auto;
}
.book-card img {
     width: 100%;
     transition: 1.5s all ease-in-out;
}
.book-card:hover img {
     transform: scale(1.5);
 }

.book-title {
    color: #212529 !important;
    font-size: 12px;
}

.book-price {
    color: #008000;
}



/* Footer*/
.foot {
    background-color: #2F374C !important;
    color: #ffffff;
}

